In [24]:
import sqlite3
import csv
import random
import math


con= sqlite3.connect('tracks.db')
cur= con.cursor()
# droping tables
cur.execute('DROP TABLE IF EXISTS Artist')
cur.execute('DROP TABLE IF EXISTS Album')
cur.execute('DROP TABLE IF EXISTS Track')

# creating tables
cur.execute('''CREATE TABLE Artist (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    artist_name TEXT)
 ''')

cur.execute('''CREATE TABLE Album (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    album_name TEXT,
    artist_id INTEGER
    )''')

cur.execute('''CREATE TABLE Track (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    track_name TEXT,
    album_id INTEGER,  duration TEXT, rating REAL)
    ''')



f= open('songs.csv')
reader= csv.DictReader(f)

for row in reader:
    duration= row['duration_ms']
    duration=float(duration)*0.00001667 # millieseconnds to mins change.
    mins= math.floor(duration)
    duration_str= f'{mins} mins {math.floor(60*(duration- mins))} secs'
    artist= row['artist_name']
    track= row['track_name']
    album= row['album_name']
    rating= round(random.uniform(1,5),1)
    cur.execute('INSERT OR IGNORE INTO Artist(artist_name) VALUES(?)', (artist,))
    con.commit()
    cur.execute('SELECT id from Artist where artist_name=?', (artist,))
    artist_id= cur.fetchone()[0]
    cur.execute('INSERT OR IGNORE INTO Album(album_name, artist_id) VALUES(?, ?)', (album,artist_id))
    con.commit()
    cur.execute('SELECT id from Album where album_name=? and artist_id=?', (album,artist_id))
    album_id= cur.fetchone()[0]
    cur.execute('INSERT OR IGNORE INTO Track(track_name,album_id ,  duration , rating ) VALUES(?, ?,?, ?)', (track,album_id,duration_str,rating))
    con.commit()

print('process complete')
con.close()

process complete